doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/public/style.css")

    title= title
  body
    h1= pageHeader.title

    if eventMessage
      p= eventMessage

    form(method="post", action="/create-event")
      div
        label(for="eventTitle") Event Title:
        input#eventTitle(type="text", name="eventTitle", placeholder="Enter event title", required=true)
      div
        label(for="eventDate") Event Date:
        input#eventDate(type="date", name="eventDate", required=true)
      div
        label(for="eventVenue") Event Venue:
        input#eventVenue(type="text", name="eventVenue", placeholder="Enter event venue", required=true)
      div
        button(type="submit") Create Event
